# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# Project Folders
media/
staticfiles/
.env

rangam-saradha-silks-firebase-adminsdk-fbsvc-ef25e865c8