# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.venv/
venv/
ENV/
env/

# Static files
staticfiles/

# Media files
media/categories/*
!media/categories/.gitkeep
media/menu/*
!media/menu/.gitkeep
media/products/*
!media/products/.gitkeep
media/offers/*
!media/offers/.gitkeep
